html {
    background-color: tan;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
    min-height: 100vh;
}

